<% if signed_in? %>
<h2 id="signin">Change password</h2>
<% form_for(:session, :url => sessions_path) do |f| %>
   <div class="field">
      <%#= f.label :password %>
      Current Password<br/>
      <%= f.password_field :password %>
   </div>
   <div class="field">
      New Password<br/>
      <%= f.password_field :new_password %>
   </div>
   <div class="field">
      Verify New Password<br/>
      <%= f.password_field :new_password %>
   </div>
   <div class="actions">
      <%= f.submit "Ok" %>
   </div>
   <div class="cancel">
      <%= f.submit "Cancel" %>
   </div>
<% end %>
<% end %>
