<% if signed_in? %>

<h1>New job</h1>

<% form_for(@job) do |f| %>
  <%= f.error_messages %>
    <% user = user_from_remember_token %>
  <p>
    <b><%= f.label :rep %></b><br />
    <%= user.repID %>
    <%= f.hidden_field :rep, :value=>user.repID %>
  </p>    
  <p>
    Job #:<br/>
    <% newest = Job.find_by_sql('SELECT MAX(id) from jobs')%>
    <% all = Job.all %>
    <%= f.text_field :jobID, :value=>new_job_id.to_s[-2..3]+all.size.to_s%>
  </p>
  <p>
    Job Name:<br/>
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.label :buyer %><br />
    <%= f.text_field :buyer %>
  </p>
  <p>
    $ Booked but not shipped<br/>
    <%= f.text_field :booked %>
  </p>
  <p>
    <%= f.label :date %><br />
    <%= f.text_field :date %>
  </p>
  <p>
    Invoice Date<br/>
    <%= f.text_field :invoice %>
  </p>
  <p>
    $ Shipped and invoiced<br/>
    <%= f.text_field :shipped %>
  </p>
  <p>
    <%= f.label :margin %><br />
    <%= f.text_field :margin %>
  </p>
  <p>
    Commissions Paid <br/>
    <%= f.text_field :commissions %>
  </p>
  <p>
    Paid Date <br/>
    <%= f.text_field :paid %>
  </p>
  <p>
    <%= f.submit 'Create' %>
  </p>
<% end %>

<%= link_to 'Back', jobs_path %>

<% end %>